/* form reset */
form{
	font-family: inherit;
  	color: inherit;
}
select{
	background-color: rgba(205,205,205,.2);
}
/* General form styles */
.booking-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.booking-form label {
    /* font-size: 18px; like other text labels will scale with viewport width*/
    margin-bottom: 1em;
}

.booking-form input,
.booking-form select {
    padding: 10px;
    font-size: .8em;
    margin-bottom:1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.booking-form button {
    padding: 15px;
    font-size: 20px;
    background-color: #8e2a5d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #94266f;
}

.booking-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

#other_input_container {
    margin-top: .5em;
    padding: .5em;
    font-size: 1em;
    border-radius: 4px;
    width: 100%;
}

#other_input {
    width: 100%;
    padding: .5emx;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Workshop dates styling */
#workshop-dates-container:has(.workshop-label:not(:empty)) {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: .5em .5em 0 .5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
	font-size: 0.9em;
}

.workshop-item {
    align-items: center;
    justify-content: space-between;
}

.workshop-item label {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    gap: 2em;
    margin-bottom: .2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid rgba(205,205,205.2);
}

#workshop-dates-container div:last-child label{
	border-bottom-width: 0;
	padding-bottom: 0;
}

.workshop-item input{
	align-self:center;
}

.workshop-checkbox {
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}

input[type=checkbox] {
    accent-color: var(--primary);
  }

/* Add more space below the heading */
h2.lede {
    margin-bottom: 30px;
}
